{% extends "base.html.twig" %}

{% block body %}
    <h1>Bienvenue dans ce blog</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, ratione exercitationem asperiores quisquam laborum praesentium tempore quam assumenda veniam quidem nobis eius molestiae a labore soluta quasi iste vero aliquam obcaecati accusamus alias porro magnam impedit ad. Itaque, a autem.</p>
<p>Sapiente illum voluptas temporibus consectetur laboriosam et veniam velit neque ex vero? Recusandae officia consequatur, deserunt at nam molestias veniam id inventore libero, laborum hic qui, harum officiis molestiae cum autem fuga consectetur impedit cupiditate totam! Consequuntur accusamus pariatur quam?</p>
{% endblock %}

