{% extends "base.html.twig" %}

{% block body %}
     <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 08/10/2020 à 15:00 dans la catégorie politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, libero magnam tenetur perferendis culpa fuga!</p>
            <p>Corporis iusto voluptate vel corrupti inventore fuga nulla delectus voluptates possimus, excepturi quaerat maxime tempore.</p>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio distinctio cumque quisquam! Eligendi libero repellat aliquam fugiat sequi rem necessitatibus, quaerat earum distinctio, qui asperiores accusamus eos veniam modi nostrum officiis et? Ut ipsa architecto voluptates dolorum aliquam fugiat, sint, culpa dolores possimus adipisci ex perferendis exercitationem tempore, labore obcaecati.</p>
            <p>Maxime, iusto eius, alias debitis nesciunt esse repudiandae minus ullam quidem molestiae illum dignissimos harum necessitatibus dolor. Aut quaerat ipsum velit, temporibus ducimus aperiam itaque numquam provident consectetur impedit asperiores rerum corrupti dolorem quasi architecto nostrum, hic est. Praesentium totam libero cumque nesciunt atque dolorem, voluptatum accusamus sunt? Dignissimos, ipsum?</p>
        </div>
    </article>
{% endblock %}